@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Maestros</a></li>
    <li class="breadcrumb-item active">Categorías</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Consulta Categorías
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" type="button" onclick="ventana(null)">
                    Nuevo registro
                </button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal para registro -->
<div class="modal fade" id="formRegistra" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Categoría</h5>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input id="txtidcategoria" type="hidden" value="0" />
                <form id="formCategoria">
                    <div class="form-group">
                        <label for="txtdescripcion">Descripción</label>
                        <input type="text" class="form-control required" id="txtdescripcion" name="descripcion" autocomplete="off">
                    </div>

                    <div class="form-group mt-2">
                        <label for="fileImagen">Imagen</label>
                        <input type="file" class="form-control" id="fileImagen" accept="image/*" />
                    </div>

                    <div class="form-group mt-2">
                        <label for="cboEstatus">Estatus</label>
                        <select id="cboEstatus" class="form-select">
                            <option value="1">Activo</option>
                            <option value="0">No Activo</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarRegistro()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var tabladata;

        $(document).ready(function () {
            tabladata = $('#tabla').DataTable({
                responsive: true,
                "ajax": {
                    "url": '@Url.Action("consultaCategoria", "Categoria")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "ImagenBase64", "render": function (data) {
                            if (data)
                                return `<img src="data:image/jpeg;base64,${data}" width="50" height="50"/>`;
                            else
                                return "Sin imagen";
                        }
                    },
                    { "data": "Descripcion" },
                    {
                        "data": "Estatus", "render": function (data) {
                            return data
                                ? '<span class="badge bg-success">Activo</span>'
                                : '<span class="badge bg-danger">No Activo</span>';
                        }
                    },
                    {
                        "data": "idCategoria", "render": function (data, type, row) {
                            return $("<button>").addClass("btn btn-primary btn-editar btn-sm").append(
                                $("<i>").addClass("fas fa-pen")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML
                                +
                                $("<button>").addClass("btn btn-danger btn-borrar btn-sm ms-2").append(
                                    $("<i>").addClass("fas fa-trash")
                                ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });

        $(document).on('click', '.btn-editar', function () {
            var json = $(this).data("informacion");
            ventana(json);
        });

        $(document).on('click', '.btn-borrar', function () {
            var json = $(this).data("informacion");

            $.ajax({
                url: '@Url.Action("BorrarCategoria", "Categoria")',
                type: "POST",
                data: JSON.stringify({ id: json.idCategoria }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.ajax.reload();
                    } else {
                        alert("Ocurrió un error :(");
                    }
                }
            });
        });

        function ventana(json) {
            $("#txtidcategoria").val(0);
            $("#txtdescripcion").val("");
            $("#cboEstatus").val(1);

            if (json) {
                $("#txtidcategoria").val(json.idCategoria);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cboEstatus").val(json.Estatus ? 1 : 0);
            }

            $('#formRegistra').modal('show');
        }

        function GuardarRegistro() {
            var fileInput = document.getElementById("fileImagen");
            var file = fileInput.files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var base64Image = e.target.result.split(',')[1];
                    enviarCategoria(base64Image);
                };
                reader.readAsDataURL(file);
            } else {
                enviarCategoria(null);
            }
        }

        function enviarCategoria(imagenBase64) {
            var request = {
                idCategoria: parseInt($("#txtidcategoria").val()),
                Descripcion: $("#txtdescripcion").val(),
                Estatus: parseInt($("#cboEstatus").val()) === 1,
                ImagenBase64: imagenBase64
            };

            $.ajax({
                url: '@Url.Action("InsertarCategoria", "Categoria")',
                type: "POST",
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $('#formRegistra').modal('hide');
                    } else {
                        alert("Ocurrió un error :(");
                    }
                }
            });
        }
    </script>
}
